

.botlist a{
    color: #000000;
    text-decoration: none;
}

.botlistCombat a{
    color: #000000;
    text-decoration: none;
}

.botlist{
    border: 5px;
    margin: 0px;
    padding: 10px;
}

.botlistCombat{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.botCombat{
    border: 5px solid #c05c5c;
    margin: 0px;
    padding: 5px;
    /* background-color: rgba(200, 100, 100, 0.5); */
    /* border-radius: 5px; */
}

.pointer {
    cursor:pointer;
}