.isSelected {
  border: 3px solid rgb(0, 26, 255);
  border-radius: 5px;
  padding: 2px;
}

.botCombat {
  color: rgba(255, 0, 0, 0.783);
  font-weight: 600;
}

.botlist {
  border: 5px;
  margin: 0px;
  padding: 10px;
}
